 .user{
  width:fit-content;
  margin: 2rem auto;

   h2{
       padding: 0.5rem 1rem;
       color:#9ca3af;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        border-radius:3px;
   }
 }